body{
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    height:100vh;
    width:100%;
}
.para{
    margin:0px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.b{
    height:20vh;
    width:100%;
    background-color: #55D4EB;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding-top: 55px;
}
.c1{
    height:calc(60vh - 15px);
    width:100%;
    margin-bottom: 15px;
}    

.c11{
    height:calc(60vh - 15px);
    width:25%;
    background-color: #A0C263;
    float: left;
    
}
.c12{
    height: calc(60vh - 15px);
    width:calc(75% - 15px);
    float: right;
    position: relative;
    margin-left: 15px;
}
.c121{
    height: 70%;
    width:100%;
    background-color: #F5C531;
    position: relative;
    margin-bottom: 15px;
}
.c122{
    height: calc(30% - 15px);
    width:100%;
    background-color: #898989;
    padding-top: 40px;
    box-sizing: border-box;
}
.d{
    height:calc(20vh - 15px);
    width:100%;
    background-color: #FFA500;
    box-sizing: border-box;
    padding-top: 50px;
}
