html{
    overflow-x: hidden;
    box-sizing: border-box;
}
*,body{
    margin: 0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    background-color: whitesmoke;
    display:flex;
    justify-content: space-between;
    padding: 0 100px;
    box-sizing: border-box;
    position: relative;
}

.horizontal-list{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 15px;
   
}
.horizontal-list li a{
   
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.horizontal-list li a:hover{
    background-color: black;
    color: white;
}
.image{
    width: auto;
    height: 80px;
}
/*#headerimg{
    height:80px;
    width:150px;
    background-color: blue;
    display: flex;
}*/
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000026;
    position: relative;
}

section:nth-child(2n){
    background-color: whitesmoke;
}
/*section:nth-child(2n+1){
    background-color: grey;
}*/
.main-page{
    width:100%;
    background-image: url(img-1.jpg);
    align-items: center;
    padding-bottom: 150px;
    background-size: cover;
    position: relative;

}
.coloroverlay{
    position: absolute;
    background-color: #000026;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}
.section-heading{
    text-align: center;
    font-size: 40px;
    margin: 80px 500px 25px 500px;
    position: relative;
    color:white;
    z-index: 1;
    font-weight: 1;
}
.para1{
    text-align: center;
    color:white;
    margin: 0px 600px 25px 600px;
    position:relative;
    z-index: 1;
}
.circular{
    width:20%;
    border:4px;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
}
.btnbtn{
    background-color:yellow; 
    color:white; 
    border-radius: 1.2rem; 
    height:40px; 
    width: 120px;
}
.contact-discover{
    position: relative;
    margin: 0px 500px 25px 500px ;
    border-radius: 0.8rem;
    color: white;
    background-color: black;
    justify-content: space-between;
}
.hello{
    width: 100%;
    display: flex;
    position: relative;
    background-color: whitesmoke;
}
.hello1{
    width:35%;
    background-color: whitesmoke;
    padding-top:100px ;
    padding-left: 150px;
}
.heh1{
    font-size:40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color:#000026;
    font-weight: 100;
    margin-bottom: 40px;
}

.hep1{
    color:grey ;
    margin-bottom: 40px;
}
.himg{
    height: 25px;
    width: auto;
}


.hello2{
    background-color: whitesmoke;
    padding: 40px;
    position: relative;
    margin-left: 200px;
    width: 60%;
    float: right;
}
.hello2 img{
    width:auto;
    height: 450px;
}
/*#service{
    position:relative;
}*/
.service{
    width: 100%;
    background-image: url(img-2.jpg); 
    color: white;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}
.heb1{
    font-weight: 100;
}
.bgcolor{
    position: absolute;
    background-color: #000026;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    
}

.service h1{
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    color: white;
    padding-left: 500px;
    padding-right: 500px;
    z-index: 1;
   /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
   
}
.service1{
    width: 100%;    
    display: flex;
    z-index: 1;
   
}
.service11{
    width: 800px;
    color:white;
    padding: 100px 20px 0px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.service12{
    width:800px;
    color: white;
    padding: 100px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service13{
    width:800px;
    color: white;
    padding: 100px 150px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servbtn{
    background-color:rgb(212, 255, 0); 
    border:1px solid black; 
    border-radius:0.8rem; 
    /*margin-left: 150px;*/ 
    margin-top: 50px;
    margin-bottom: 50px; 
    height: 30px; 
    color: white;
}
.serviceimg{
    border-radius: 5rem; 
    height:50px; 
    width:50px; 
    /*margin-left: 170px;*/
    margin-bottom: 20px; 
    background-color: white; 
    opacity: 0.5;
}
.he4{
    text-align: center;
    
    
}
.good1{
    width: 100%;
    height:950px; 
    /*padding-left: 100px;
    padding-right: 100px;*/   
    background-color: whitesmoke;
    padding-top: 80px;
}
.good2{
    width:100%;
    height: 60px;
    display:flex;
    text-align: left;

}
.gop1{
    margin-left:100px; 
    margin-top: 20px;
    color: #3a376c;
}
.goodlist{
    display:flex;
    margin-top: 25px;
    color:#3a376c;
    
}
.goodlist li{
    display: flex;
    margin: 0px 15px 0px 60px;
}
.goodlist li a{
    color: black;
    text-decoration: none;
}
.goodlist li a:hover{
    color: black;
    background-color: grey;    
}
.goodh1{
    margin-left:100px;
    font-size: 40px; 
    color:#3a376c;
    font-weight: 100;
}
.good3{
    width:100%;
    height: 650px;
    display:flex;
    padding: 0px;
}
.good31{
    width: calc( 33% - 15px );
    height:650px;
    display:flex;
    flex-direction: column;
    position: relative;
    margin-left: 100px;
    margin-right: 15px;    
}
.good311{
    height: 70%;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}
.cover{
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: #3a376c;
    content: "";
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.good311:hover .cover{
    opacity: 0.9;
}
.good312:hover .cover{
    opacity: 0.9;
}
.good321:hover .cover{
    opacity: 0.9;
}
.good322:hover .cover{
    opacity: 0.9;
}
.good323:hover .cover{
    opacity: 0.9;
}
.good331:hover .cover{
    opacity: 0.9;
}
.good332:hover .cover{
    opacity: 0.9;
}
.good312{
    height: calc( 30% - 15px );
    width: 100%;
    position: relative;
}
.goimg1{
    height: 100%; 
    width: 100%;
    object-fit: cover;
}

.goimg2{
    height: 100%; 
    width: 100%;
    object-fit: cover;
}
.good321{
    height: 35%;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}
.good322{
    height: calc( 35% - 15px );
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}
.good323{
    height: calc( 30% - 15px );
    width: 100%;
    position: relative;
    overflow: hidden;
}

.goimg3{
    height: 100%; 
    width: 100%;
    object-fit: cover;
}
.good331{
    height: 35%;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}
.good332{
    height: calc( 65% - 15px );
    width: 100%;
    position: relative;
}
.goimg6{
    height: 100%; 
    width: 100%;
    object-fit: cover;
}

.good32{
    width: calc( 33% - 15px );
    height: 650px;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: 15px;
}
.good33{
    width: calc( 33% - 15px );
    height: 650px;
    display: flex;
    position: relative;
    margin-right: 100px;
    flex-direction: column;
}
.rewards{
    width:100%;
    background-image: url(img-4.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    display:flex;
    position: relative;
}
.rewards1, .rewards2, .rewards3, .rewards4{
    width:24%;
    text-align: center;
    padding-top:100px;
    z-index: 1;
    padding-bottom: 100px;
}
.r1{
    font-size:20px;  
    color: white; 
    margin-top: 50px;
}
.rep1{
    font-size:40px; 
    color: white;
}
.rewimg{
    height:70px;
    width: auto;
    background-color: white;
    opacity: 0.5;
    border-radius: 5rem;

}
.bgrew{
    position: absolute;
    background-color: #000026;
    opacity: 0.8;
    width: 100%;
    height: 100%;    
}
.price{
    width:100%;
    position:relative;
    background-color: whitesmoke;
}
.peh1{
    text-align:center; 
    font-size: 50px; 
    margin-top: 50px;
    font-weight: 100;
    color: #3a376c;
}
.pep1{
    text-align:center; 
    margin-top: 20px;
    color: #3a376c;
}
.price1{
    width: 100%;
    position:relative;
    padding-bottom: 40px;
}
.price2{
    width:100%;
    display:flex;
    position: relative;
    padding-bottom: 80px;
    padding-right: 90px;
}
.price21{
    background-color: #fff;
    border: 1px black;
    border-radius:0.5rem;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 100px;
    padding-bottom: 80px;
}
.b2:hover{
    background-color: yellow;
    color: white;
}
.b2{
    border:1px solid black; 
    border-radius: 0.8rem; 
    height:30px;
    margin-top: 40px;
}
.about{
    width:100%;
    background-image: url(img-3.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
}
.abh1{
    font-weight: 100;
    font-size:40px;
    margin-bottom: 40px;
}
.boldees{
    font-weight: 800;    
}
.abimg{
    margin:90px 100px 0px 400px;
}
.abimg1{
    height:150px; 
    width:150px; 
    border-radius:4.5rem; 
    margin-top: 150px; 
    /*margin-left:90px;*/
    margin-bottom: 20px;
}
.abimg2{
    height:150px; 
    width:150px; 
    border-radius:4.5rem; 
    margin-top: 150px; 
    /*margin-right:90px;*/
    margin-bottom: 20px;
}
.about1{
    width:100%;
    display:flex;
    z-index: 1;
    position: relative;
}
.about11{
    width:50%;
    padding-top: 70px;
    padding-left: 70px;
    color:white
}
.about12{
    width:50%;
    color:white; 
}
.about2{
    width:100%;
    display:flex;
    position: relative;
}
.about21{
    width:50%;
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.bgabout{
    background-color: #000026;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
}
.blog{
    height:800px;
    width:100%;
    position: relative;
    background-color: whitesmoke;
}
.blog1{
    height:130px;
    width: 100%;
    position:relative;
}
.blh1{
    margin-left: 90px; 
    margin-top: 60px; 
    font-size: 45px;
    color: #3a376c;
    font-weight: 150;
}
.blh6{
    margin-top: 15px;
    margin-left:90px;
    color: #3a376c;
}
.blog2{
    height:600px;
    width: 100%;
    display: flex;
    position:relative;
}
.blog21{
    height:550px;
    background-color: white;
    border-radius: 0.8rem;
    position:relative;
}
.blog22{
    margin-left: 90px;
    margin-right: 15px;
}
.blog23{
    margin-right: 90px;
    margin-left: 15px;
}
.bl1{
    margin-left:40px;
    margin-right:40px;
    margin-top: 45px;
    color:grey;
}

.bl2{
    margin-left:40px;
    margin-right:40px; 
    color:lightgrey;
}
.blimg2{
    height:50%; 
    width:auto; 
    margin-top:20px; 
    margin-left: 10px;
}
.bt{
    height:30px;
    margin-left:40px;
    margin-top: 30px;
    color:grey;
    border: 1px solid grey;
    border-radius: 1rem;
}
.bt:hover{
    background-color: yellow;
    color:white;
}
.footer{
    width: 100%;
    height: 450px;
    background-color:  #6565c8;
}
.footer1{
    width:100%;
    height:80px;
}
.footer2{
    width:100%;
    height: 360px;
    display:flex;
    position: relative;
}
.footer21{
    width:370px;
    height: 300px;
    text-decoration: none;
}
.footer22{
    width:400px;
    height:300px;

}
.footer21 li{
    margin-left:100px;
    text-decoration: none;
    color: white;
}
.footer21 h1{
    margin-left:125px;
    margin-top:100px;
    color: white;
}
.footer22 h1{
    margin-left: 100px;
    margin-top:100px;
    color:white;
}
.ee{
    height:40px; 
    width:200px; 
    margin-left:100px; 
    margin-top:50px; 
    border-radius: 1.3rem;
    border: 0px;
}
